@font-face {
    font-family: Futura;
    src: local('Futura Std');
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 22pt;
    text-decoration: none;
    margin-top: 2%;
    color: rgb(34, 34, 34);
}

div {
    font-family: 'Roboto Slab', serif;
    color: rgb(58, 58, 58);
}
