<div class="container-fluid bg-light">

    <div class="row py-5 mt-5 text-center justify-content-around">

        <div class="col-xl-10 col-sm-10 mb-5">

            <div class="bg-white rounded shadow-sm pb-3 px-4">
                <div class="row ml-1 m-2 text-left" id="titulo">
                    <h3 class="title">Entre em contato conosco</h3>
                </div>
                <div>
                    <hr>
                </div>
                <div class="container text-left" id="formulario">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome" [(ngModel)]="nome"
                            maxlength="60" required>
                        <span *ngIf='_msgErroN'>{{_msgErroN}}</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com.br"
                            [(ngModel)]="email" maxlength="40" (click)="limpar()" required>
                        <span *ngIf='_msgErroE'>{{_msgErroE}}</span>
                    </div>
                    <div class="form-group">
                        <label for="Telefone">Telefone</label>
                        <input type="tel" class="form-control" id="tel" [(ngModel)]="tel" placeholder="(XX) 99999-9999"
                            maxlength="11" required>
                        <span *ngIf='_msgErroT'>{{_msgErroT}}</span>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Mensagem</label>
                        <textarea class="form-control textarea" [(ngModel)]="msg" id="mensagem" placeholder="Escreva sua mensagem" rows="5" maxlength="400"
                            required></textarea>
                    </div>

                    <button type="submit" class="btn mr-5" width="" (click)="validacao()">Enviar</button>
                    <span id="sucesso" *ngIf='_msgEnvioDados'>{{_msgEnvioDados}}</span>
                    <span id="falha" *ngIf='_msgCampoVazio'>{{_msgCampoVazio}}</span>
                </div>
            </div>
        </div>
    </div>
</div>