<form>
    <div class="card bg-dark text-white">
        <img src="./../../../assets/image-contact.png" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="flex-col size2">
                <span class="txt1 p-b-20">
                    Endereço:
                </span>
                <br>

                <span class="txt2">
                    Av. Gen. Ataliba Leonel, 245, Santana, São Paulo
                </span>
                <br>
                <span class="txt1 p-b-20">
                    Telefone:
                </span>
                <br>
                <span class="txt3">
                    +55 11 7687-3277
                </span>
                <br>
                <span class="txt1 p-b-20">
                    E-mail:
                </span>
                <br>
                <span class="txt3">
                    contato@poupeapp.com
                </span>
            </div>
        </div>

        <div class="dis-flex size1 p-b-47">
            <div class="txt1 p-r-25">
                <span class="lnr lnr-phone-handset"></span>
            </div>


        </div>

        <div class="dis-flex size1 p-b-47">
            <div class="txt1 p-r-25">
                <span class="lnr lnr-envelope"></span>
            </div>


        </div>
    </div>
    <div class="body">
        <div class="container-contact100">
            <div class="wrap-contact100">
                <form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Fale conosco
                    </span>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Name</label>
                            <input type="name" class="form-control" id="inputName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSobrenome4">Sobrenome</label>
                            <input type="Sobrenome" class="form-control" id="inputSobrenome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputemail">email</label>
                        <input type="text" class="form-control" id="inputemail" placeholder="exemplo@email.com">
                    </div>
                    <div class="form-group">
                        <label for="inputTelefone">Telefone</label>
                        <input type="text" class="form-control" id="inputTelefone" placeholder="(00)00000-0000">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" class="wrap-input100 validate-input"
                            data-validate="Mensagem é necessária.">
                            <label class="label-input100" for="message">Mensagem *</label> <br />

                            <textarea id="message" class="input100" name="message"
                                placeholder="Digite sua mensagem"></textarea>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Eu não sou um robô
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
                </form>

            </div>