.card {
    width: 50%;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    z-index: 1;
    border: 5px;
}
.body {
    width: 50%;
    padding: 30px 15px 0px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    z-index: 1;
    border: 5px;
}