<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="input-group mb-5">
        <input id="txtPostId" type="number" [(ngModel)]="idUsuario" class="form-control" placeholder="Digite o id"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary bg-dark text-light" type="button" id="button-addon2"
                (click)="btnClickId()">Consultar</button>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary bg-dark text-light" type="button" id="button-addon3"
                (click)="btnClickAll()">Consultar todos</button>
        </div>
    </div>

    <div class="row py-5 mt-5 text-center justify-content-around">

            <div class="col-xl-10 col-sm-10 mb-5">
    
                <div class="bg-white rounded shadow-sm pb-3 px-4">
                    <div class="row ml-1 mb-2 text-left" id="titulo">
                        <h3 class="display-4">Cadastre-se</h3>
                    </div>
                    <div class="container text-left" id="formulario">
                        <div id="sign-up" class="form-horizontal ">
                            <div class="row">
                                <div class="col">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome"
                                        (click)= "btnClickId()" [(ngModel)]="user.nome" maxlength="60" required>
                                    <span *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group form-group-margin">
                                <label for="nome">Email</label>
                                <label for="inputUsername" class="no-mobile-display none-display">Endereço de
                                    e-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="name@example.com.br"
                                    [(ngModel)]="user.email" maxlength="25" required>
                                <span *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="nome">Telefone</label>
                                    <input type="tel" class="form-control" id="tel" [(ngModel)]="user.tel"
                                        placeholder="(XX) 99999-9999" maxlength="11" required>
                                    <span *ngIf='_msgErroTel'>{{_msgErroTel}}</span>
                                </div>
                                <div class="col">
                                    <label for="nome">Celular</label>
                                    <input type="tel" class="form-control" id="cel" [(ngModel)]="cel"
                                        placeholder="(XX) 99999-9999" maxlength="11" required>
                                    <span *ngIf='_msgErroCel'>{{_msgErroCel}}</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group form-group-margin">
                                <label for="nome">Senha</label>
                                <input type="password" value="" class="form-control" id="senha"
                                    placeholder="Digite sua senha" maxlength="25"[(ngModel)]="user.senha" required>
                                <span *ngIf='_msgErroSenha'>{{_msgErroSenha}}</span>
                                <span id="forte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
                                <span id="fraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
                            </div>
                            <br>
                            <div class="form-group form-group-margin">
                                <label for="nome">Confirmar senha</label>
                                <input type="password" value="" class="form-control" data-placeholder="Confirmar senha"
                                    id="senhaConf" placeholder="Confirme sua senha" maxlength="25" [(ngModel)]="senhaConf"
                                    (click)="verificarForca()" required>
                                <span *ngIf='_msgConfirmaSenha'>{{_msgConfirmaSenha}}</span>
                            </div>
                            <br>
                            <div class="form-group  keep-newsletter">
                                <div class="col-md-12 ">
                                    <div class="checkbox-regular">
                                        <label class="margin-bottom-10">
                                            <input type="checkbox" id="u_newsletter" name="u_newsletter"
                                                class="regular-checkbox" value="1" checked=""><label
                                                for="u_newsletter"></label> Assine nossa Newsletter </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="gdpr_text">Ao se inscrever, você concorda com nossos <a href=""
                                        target="gdpr-compliance" class="">Termos de Serviço</a> e <a href=""
                                        target="gdpr-compliance" class="privacypolicy">Política
                                        de
                                        Privacidade</a>.
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" width=""
                                        (click)="salvar()">Salvar</button>
                                    <!-- <button type="submit" class="btn btn-primary" width=""
                                        (click)="">Alterar</button> -->
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
























    <div class="container col-10 mb-5" *ngIf="showAll == true">
        <div class="card m-3 mb-5 bg-white rounded shadow-sm" style="max-width: 80rem;" *ngFor="let user of users">
            <div class="p-2"><img class="card-img-top" src="" alt="Card image cap"></div>
            <div class="card-header bg-light">
                <h2 class="font-weight-bold text-dark">Usuário {{user.idUsuario}}</h2>
            </div>
            <div class="card-body text-info">

                <h5 class="card-title text-dark">Id Usuario: <span class="text-secondary">{{user.idUsuario}}</span>
                </h5>
                <h5 class="card-title text-dark">Nome: <span class="text-secondary">{{user.nome}}</span></h5>
                <h5 class="card-title text-dark">Telefone: <span class="text-secondary">{{user.telefone}}</span></h5>
                <h5 class="card-title text-dark">Email: <span class="text-secondary">{{user.email}}</span></h5>
                <h5 class="card-title text-dark">Senha: <span class="text-secondary">{{user.senha}}</span></h5>
            </div>
        </div>
    </div>
    <div class="container col-10 mb-5" *ngIf="showId == true">
            <div class="card m-3 mb-5 bg-white rounded shadow-sm" style="max-width: 80rem;">
                <div class="p-2"><button type = "submit"><a [routerLink]="['/my-profile', user.idUsuario]"></a>Enviar</button><img class="card-img-top" src="{{user.idUsuario}}" alt="Card image cap"></div>
                <div class="card-header bg-light">
                        <h2 class="font-weight-bold text-dark">Usuário {{user.idUsuario}}</h2>
                </div>
                <div class="card-body text-info">

                        <h5 class="card-title text-dark">Id Usuario: <span class="text-secondary">{{user.idUsuario}}</span>
                        </h5>
                        <h5 class="card-title text-dark">Nome: <span class="text-secondary">{{user.nome}}</span></h5>
                        <h5 class="card-title text-dark">Telefone: <span class="text-secondary">{{user.telefone}}</span></h5>
                        <h5 class="card-title text-dark">Email: <span class="text-secondary">{{user.email}}</span></h5>
                        <h5 class="card-title text-dark">Senha: <span class="text-secondary">{{user.senha}}</span></h5>
    
                    </div>
            </div>
        </div>

</div>