
#sucesso {
    color: green;
}

#falha {
    color: red;
}

.btn{
    color: white;
    /* background-color: rgb(32, 56, 112); */
    background-color: black;
    outline-color: none;
}

.btn:hover {
    color: #FFD15D;
}