
<div class="container-fluid bg-light">
    <div style="height: 120px;">
    </div>

    <div class="row py-5 text-center justify-content-around">

        <div class="col-xl-4 col-sm-2">

            <div class="bg-white rounded shadow-sm pb-3 px-4">
                <div class="row ml-1 m-2 text-left" id="titulo">
                    <h3 class="display-4 title">Entrar</h3>
                </div>
                <div>
                    <hr>
                </div>
                <div class="container text-left" id="formulario">
                    <div id="sign-up" class="form-horizontal ">

                        <div class="form-group form-group-margin" >
                            <label for="nome">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com.br"
                                [(ngModel)]="login.email" (click)="limpar()" maxlength="40" required>
                        </div>

                        <br/>

                        <div class="form-group form-group-margin">
                            <label for="nome">Senha</label>
                            <input type="password" value="" class="form-control" id="senha"
                                placeholder="Digite sua senha" maxlength="25" [(ngModel)]="login.senha" required>
                            <span *ngIf='_msgErroSenha'>{{_msgErroSenha}}</span>
                        </div>

                        <div class="form-group ">
                            <br/>
                            <label class="t1-label remember">
                                    <input type="checkbox" value="2" name="remember_me" checked="checked">Lembrar-me
                                    <a class="Esqueceu" href="/sign-up">Esqueceu a senha?</a>
                                </label>  
                            
                            <div class="">
                                <button type="submit" class="btn mr-5" width="" (click)="fazerLogin()"> Entrar </button>
                                <br>
                                <span id ="sucesso" *ngIf='_msgEnvioDados'>{{_msgEnvioDados}}</span>
                                <span id ="falha" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
                                <span id ="falha" *ngIf='_msgCampoVazio'>{{_msgCampoVazio}}</span>
                                
                            </div>                       
                            <br/>                                                  
                            <p class="izU2O">Não tem uma conta? <a href="/cadastrar"><span
                               class="Cadastre-se">Cadastre-se</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px;">
    </div>
</div>