<div class="container">

    <div style="height: 100px;">
    </div>

    <table class="table col-12 text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id Usuário</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Senha</th>
                <th scope="col">Alterar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td scope="row">{{user.idUsuario}}</td>
                <td>{{user.nome}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telefone}}</td>
                <td>{{user.senha}}</td>
                <td><a [routerLink]="['/editar', user.idUsuario]"><i class="fas fa-pen-square"></i></a>
                </td>
                <td><a [routerLink]="['/remover', user.idUsuario]"><i class="fa fa-eraser"></i></a> </td>
            </tr>
        </tbody>
    </table>
    <div>