<div class="container-fluid bg-light align-content-center">

    <div class="container col-lg-6 col-md-8 col-10 py-5 mt-5 text-center justify-content-around">

        <div class="bg-white rounded shadow-sm pb-1 px-4">
            <div class="row ml-1 m-2 text-left justify-content-between px-1" id="titulo">
                <h3 class="title mt-3">Altere sua Postagem</h3>
            </div>
            <div>
                <hr>
            </div>

            <div>
                <div class="container text-left" id="formulario">
                    <div class="form-group">
                        <label for="nome">Nome do produto</label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome do produto."
                            [(ngModel)]="post.titulo" maxlength="60" (click)="limpar()" required>
                        <span *ngIf='_msgErroN'>{{_msgErroN}}</span>
                    </div>
                    <div class="form-group">
                        <label for="imagem">URL da imagem</label>
                        <input type="text" class="form-control" id="post.linkimg" placeholder="Insira a URL da imagem."
                            [(ngModel)]="post.linkimg" maxlength="200" (click)="limpar()" required>
                        <span *ngIf='_msgErroE'>{{_msgErroE}}</span>
                    </div>
                    <div class="form-group">
                        <label for="imagem">Preço</label>
                        <input type="text" class="form-control" id="preco" placeholder="Digite a data da promoção."
                            [(ngModel)]="post.preco" maxlength="10" (click)="limpar()" required>
                        <span *ngIf='_msgErroE'>{{_msgErroE}}</span>
                    </div>
                    <div class="form-group">
                        <label for="descrição">Descrição da Promoção</label>
                        <textarea class="form-control textarea" [(ngModel)]="post.texto" id="mensagem"
                            placeholder="Escreva mais informações sobre o produto.                      Ex.:Local, preço e quantidade. "
                            rows="5" maxlength="400" required></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn mr-5" (click)="enviarPost()" [routerLink]="['/feed']">Postar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container col-lg-6 col-md-8 col-sm-10">
        <div class="card mb-3 bg-white rounded shadow-sm" style="max-width: 60rem;" style="max-width: 60rem;">
            <div class="p-2">
                <img class="card-img-top fit-image" src="{{post.linkimg}}" alt="Card image cap">
            </div>
            <div class="card-header bg-light d-inline-flex justify-content-between">
                <div class="column">
                    <h2 class="font-weight-bold text-dark">{{post.titulo}}</h2>

                    <span class="card-title text-darktext-secondary" style="text-align: right">{{post.dataInclusao}}</span>

                </div>
            </div>
            <div class="card-body text-info">
                <span class="card-title text-dark text-secondary">{{post.texto}}</span>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
