<div class="container-fluid py-5 bg-light">
    <div class="row" id="accordion">
        <div class="card-link col-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="card-header bg-white rounded-top shadow-sm py-3 px-3" id="headingOne">
                <h5 class="text-center">
                    <img src="assets/Foto_Aline.jpg" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                        Web
                        Java Jr</span>
                    <ul class="social  list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-light rounded-bottom shadow-sm py-1 px-3">
                    <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                        da
                        Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                        conhecimentos e
                        habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                        bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                        organização
                        e planejamento de projetos.</p>
                </div>
            </div>
        </div>





        <div class="card-link col-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="card-header bg-white rounded-top shadow-sm py-3 px-3" id="headingOne">
                <h5 class="text-center">
                    <img src="assets/Foto_Aline.jpg" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                        Web
                        Java Jr</span>
                    <ul class="social  list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-light rounded-bottom shadow-sm py-1 px-3">
                    <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                        da
                        Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                        conhecimentos e
                        habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                        bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                        organização
                        e planejamento de projetos.</p>
                </div>
            </div>
        </div>





        
        <div class="card-link col-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="card-header bg-white rounded-top shadow-sm py-3 px-3" id="headingOne">
                <h5 class="text-center">
                    <img src="assets/Foto_Aline.jpg" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                        Web
                        Java Jr</span>
                    <ul class="social  list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-light rounded-bottom shadow-sm py-1 px-3">
                    <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                        da
                        Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                        conhecimentos e
                        habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                        bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                        organização
                        e planejamento de projetos.</p>
                </div>
            </div>
        </div>




        <div class="card-link col-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="card-header bg-white rounded-top shadow-sm py-3 px-3" id="headingOne">
                <h5 class="text-center">
                    <img src="assets/Foto_Aline.jpg" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                        Web
                        Java Jr</span>
                    <ul class="social  list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-light rounded-bottom shadow-sm py-1 px-3">
                    <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                        da
                        Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                        conhecimentos e
                        habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                        bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                        organização
                        e planejamento de projetos.</p>
                </div>
            </div>
        </div>




        <div class="card-link col-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="card-header bg-white rounded-top shadow-sm py-3 px-3" id="headingOne">
                <h5 class="text-center">
                    <img src="assets/Foto_Aline.jpg" alt=""
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                        Web
                        Java Jr</span>
                    <ul class="social  list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-light rounded-bottom shadow-sm py-1 px-3">
                    <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                        da
                        Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                        conhecimentos e
                        habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                        bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                        organização
                        e planejamento de projetos.</p>
                </div>
            </div>
        </div>
    </div>




    <div class="row mb-4 ml-5">
        <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Nosso time</h2>
            <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        </div>
    </div>

    <div class="row text-center justify-content-center p-3">
        <!-- Team item-->




        <div class="col-xl-12 col-sm-12 mb-5 mx-1 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="assets/Foto_Aline.jpg" alt="" width="150"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Aline Monteiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                    Web
                    Java Jr</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <p>Apaixonada por inovação, viveu uma experiência transformadora como aluna da segunda geração
                    da
                    Generation no Brasil. Estudante de engenharia de produção esta aprimorando seus
                    conhecimentos e
                    habilidades do curso de front-end, que possui um escopo técnico com html, css, javascript,
                    bootstrap, firebase, jquery, testes automatizados, git, github, metodologias ágeis,
                    organização
                    e planejamento de projetos.</p>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="assets/Foto_Lucas.jpg" alt="" width="150"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Lucas Augusto</h5><span class="small text-uppercase text-muted">Desenvolvedor
                    Web
                    Java Jr</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <p>Lucas é desenvolvedor Java fullstack Jr. Antes de se tornar desenvolvedor, ele atuou como
                    professor na área de robótica. Apaixonado por tecnologia, Lucas busca ampliar e aperfeiçoar
                    suas
                    habilidades no desenvolvimento de sistemas.</p>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="assets/Foto_Matheus.jpg" alt="" width="150"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Matheus Alves</h5><span class="small text-uppercase text-muted">Desenvolvedor
                    Web
                    Java Jr</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <p>Matheus Alves é desenvolvedor Java fullstack Jr, músico nas horas livres, brasileiro, 19
                    anos.
                    Trabalhou como Jovem Aprendiz na Enel, trabalhou com musica e por fim entrou na área de
                    desenvolvimento o qual atua ainda hoje. Ele sempre teve curiosidade e interesse em aprender
                    coisas novas, com isso se dedicou ao curso da Generation Brasil e desde lá vem crescendo e
                    se
                    desenvolvendo na área.</p>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3"><img src="assets/Foto_Paulo.jpg" alt="" width="150"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Paulo Miranda</h5><span class="small text-uppercase text-muted">Desenvolvedor
                    Web
                    Java Jr</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <p>Paulo é desenvolvedor Java Jr, percussionista e marketólogo. Gosta muito de música brasileira
                    e
                    futebol.</p>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-12 col-sm-12 mb-5 mx-1">
            <div class="bg-white rounded shadow-sm py-3 px-3 dev"><img src="assets/Foto_Thaty.jpg" alt="" width="150
" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Thatyana Soeiro</h5><span class="small text-uppercase text-muted">Desenvolvedora
                    Web Java Jr</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
                <p>Thatyana Soeiro é desenvolvedora Java fullstack Jr. Antes de emergir na área de tecnologia da
                    informação, ela se formou em Engenharia Química e também fez mestrado na área de Simulaçao e
                    Otimização de Processos. Thatyana busca se desenvolver cada vez mais no setor tecnológico,
                    aperfeiçoando suas competências e habilidades.</p>
            </div>
        </div>
        <!-- End-->
    </div>