<br>
<br>
<br>
<h1 class="title_text">Cadastre-se </h1>
<form id="sign-up" class="form-horizontal form-signin" method="post"
    action="/index.php?p=new_user_validate&amp;plan=0&amp;u_openidtype=0">


    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nome">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Sobrenome">
            </div>
        </div>
    </form>

    <br>
    <div class="form-group form-group-margin">

        <label for="inputUsername" class="no-mobile-display none-display">Endereço de
            e-mail</label>
        <input type="email" name="u_econtact" value="" class="form-control ajax-convert-lable field-required "
            data-placeholder="Endereço de e-mail" id="u_econtact" placeholder="Endereço de e-mail">
    </div>

    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Telefone">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Celular">
            </div>
        </div>
    </form>
    <br>
    <div class="form-group form-group-margin">
        <label for="inputPassword" class="no-mobile-display none-display">Senha</label>
        <input type="password" name="u_pass" value="" class="form-control ajax-convert-lable field-required "
            data-placeholder="Senha" id="u_pass" placeholder="Senha">
    </div>
    <div class="form-group form-group-margin">
        <label for="inputPasswordConfirm" class="no-mobile-display none-display">Confirmar
            senha</label>
        <input type="password" name="u_pass2" value="" class="form-control ajax-convert-lable field-required "
            data-placeholder="Confirmar senha" id="u_pass2" placeholder="Confirmar senha">
    </div>

    <div class="form-group  keep-newsletter">
        <div class="col-md-12 ">
            <div class="checkbox-regular">
                <label class="margin-bottom-10">
                    <input type="checkbox" id="u_newsletter" name="u_newsletter" class="regular-checkbox" value="1"
                        checked=""><label for="u_newsletter"></label> Assine nossa Newsletter </label>
            </div>
        </div>
    </div>

    <!-- Google reCaptcha -->
    <!-- <div style="padding-bottom: 15px;" class="g-recaptcha"
                                data-sitekey="6LdMNiMTAAAAAGr0ibqKRZc3e5Z6wfLBraX9NuOY"
                                data-callback="reCaptchaCallback">
                                <div style="width: 304px; height: 78px;">
                                    <div><iframe
                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdMNiMTAAAAAGr0ibqKRZc3e5Z6wfLBraX9NuOY&amp;co=aHR0cHM6Ly93d3cuMTIzZm9ybWJ1aWxkZXIuY29tOjQ0Mw..&amp;hl=pt-BR&amp;v=eQmzkx3d5dtuXlLOA4pEID3I&amp;size=normal&amp;cb=z05g2zgifbf0"
                                            width="304" height="78" role="presentation" name="a-t98743f1c1uu"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                        class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div>
         </div> -->

    <div class="form-group ">
        <div class="gdpr_text">Ao se inscrever, você concorda com nossos <a href="" target="gdpr-compliance"
                class="">Termos de Serviço</a> e <a href="" target="gdpr-compliance" class="privacypolicy">Política de
                Privacidade</a>.
        </div>

        <div class="">
            <button id="submit-form-button" class="btn btn-sm btn-success center margin-bottom-15 no-border"
                type="submit" disabled="">
                Cadastrar </button>
        </div>
    </div>




</form>