<br/>
<br/>
<footer class="bg-light pb-5">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Poupe App All rights reserved.</p>
    <div class="container text-center">

        <br>
        <table>
            <td>
                <tr><a href="" class="rodapecolor">Os serviços fornecidos</a></tr>
                <tr><a href="" class="rodapecolor">Seu compromisso com o Poupe App e com nossa comunidade</a></tr>
                <tr><a href="" class="rodapecolor">Serviços</a></tr>
                <tr><a href="" class="rodapecolor">Contato</a></tr>
            </td>
        </table>

    </div>
</footer>

<!-- Link com bolinhas 
        
    </div>
    <div id="termsandcondition" class="bg-light pb-5">
            <ul>
                <li><a href="" class="footer"> Os serviços fornecidos </a></li>
                <li><a href="" class="footer"> Seu compromisso com o Poupe App e com nossa comunidade </a></li>
                <li><a href="" class="footer"> Serviços </a></li>
                <li><a href="" class="footer"> Contato </a></li>
            </ul>
            </div>


</footer> -->