.navColor{
    background-color: #FFD15D;
    float: fixed;
    width: 100%;
    color: black;
}

.text-dark {
    margin-left: 10px;
    color: rgb(34, 34, 34);
    font-size: 15pt;
}

a {
    color: black !important;
}
.log {
    background-color: black!important;
    color: white !important;
    margin-top: -4px !important;
}
.log:hover{
    color: #FFD15D !important;
}
/* #login {
    color: white !important;
}
#logout {
    background-color: red !important;
    color: white !important;
} */
.btn{
    color: white;
    background-color: black;
    outline-color: none;
}

.btn:hover {
    color: #FFD15D;
}
