<div class="navbar navbar-expand-lg navbar-light fixed-top navColor">
    <div class="container ">
        <a href="#" class="navbar-brand d-flex align-items-center text-secondary"><img
                src="./../../../assets/logoNav.png" height="50px" alt=""></a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a [routerLink]="'/feed'" class="nav-link font-bold text-dark" *ngIf='user != null'> Início </a></li>
                <li class="nav-item active"><a [routerLink]="'/sobre'" class="nav-link font-bold text-dark"> Sobre </a></li>
                <li class="nav-item active"><a [routerLink]="'/contato'" class="nav-link font-bold text-dark"> Contato </a></li>
                <li class="nav-item active"><a [routerLink]="'/ajuda'" class="nav-link font-bold text-dark"> Ajuda </a></li>
                <li class="nav-item active"><a [routerLink]="'/consultar'" class="nav-link font-bold text-dark" *ngIf='user != null'> Usuários </a></li>
                <li class="nav-item active"><a [routerLink]="'/login'" class="nav-link font-bold text-dark" *ngIf='user == null'><button class="btn log ml-3">Login</button></a></li>
                <div class="btn-group dropdown ml-3 mr-0 p-0" *ngIf='user != null'>
                    <button type="button" class="btn dropdown-toggle p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</button>
                    <div class="dropdown-menu">
                        <li class="nav-item active p-2"><a [routerLink]="['/editar', user.idUsuario]" class="nav-link font-bold text-dark" >Editar</a></li>
                        <li class="nav-item active p-2"><a [routerLink]="'/login'" id="logout" class="nav-link font-bold text-dark" (click)="logout()">Logout</a></li>
                    </div>
                </div>

                

                
            </ul>
        </div>
    </div>
</div>