<div class="navbar navbar-expand-lg navbar-light fixed-top py-3 navColor">
    <div class="container ">
        <a href="#" class="navbar-brand d-flex align-items-center text-secondary p-0 "><img class="m-0"
                src="./../../../assets/iconNav.png" width="60px" alt=""></a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a [routerLink]="'/posts'" class="nav-link font-bold text-light"> Início </a></li>
                <li class="nav-item active"><a [routerLink]="'/about-us'" class="nav-link font-bold text-light"> Sobre
                    </a></li>
                <li class="nav-item active"><a [routerLink]="'/'" class="nav-link font-bold text-light"> Serviços </a></li>
                <li class="nav-item active"><a [routerLink]="'/contact'" class="nav-link font-bold text-light"> Contato </a></li>
                <li class="nav-item active"><a [routerLink]="'/sign-up'" class="nav-link font-bold text-light"> Sign_Up </a></li>
                <li class="nav-item active"><a [routerLink]="'/sign-in'" class="nav-link font-bold text-light"> Login </a></li>
            </ul>
        </div>
    </div>
</div>