.navColor{
    background-color: #FFD15D;
    float: fixed;
    top: 0;
    width: 100%;
}

.text-dark {
    margin-left: 10px;
    color: rgb(34, 34, 34);
    font-size: 15pt;
}

/* #login {
    color: white !important;
}
#logout {
    background-color: red !important;
    color: white !important;
} */
.btn{
    color: white;
    background-color: rgb(32, 56, 112);
    outline-color: none;
}

.btn:hover {
    color: #FFD15D;
}
