<div class="bg-light">
    <br />
    <br />
    <br />
    <div class="container col-4 mt-5">
        <div class="input-group mb-5">
            <input id="txtPostId" type="number" [(ngModel)]="idPostagem" class="form-control" placeholder="Digite o id"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-dark text-light" type="button" id="button-addon2"
                    (click)="btnClickId()">Consultar</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-dark text-light" type="button" id="button-addon3"
                    (click)="btnClickAll()">Consultar todos</button>
            </div>
        </div>
    </div>

    <div class="container col-10 mb-5" *ngIf="showAll == true">
        <div class="card m-3 mb-5 bg-white rounded shadow-sm" style="max-width: 80rem;" *ngFor="let post of posts">
            <div class="p-2"><img class="card-img-top" src="{{post.linkimg}}" alt="Card image cap"></div>
            <div class="card-header bg-light">
                <h2 class="font-weight-bold text-dark">Post {{post.idPostagem}}</h2>
            </div>
            <div class="card-body text-info">
                <h5 class="card-title text-dark">Id Postagem: <span class="text-secondary">{{post.idPostagem}}</span>
                </h5>
                <h5 class="card-title text-dark">Título: <span class="text-secondary">{{post.titulo}}</span></h5>
                <h5 class="card-title text-dark">Texto: <span class="text-secondary">{{post.texto}}</span></h5>
                <h5 class="card-title text-dark">Link Img: <span class="text-secondary">{{post.linkimg}}</span></h5>
                <h5 class="card-title text-dark">Data de Inclusão: <span
                        class="text-secondary">{{post.dataInclusao}}</span></h5>
            </div>
        </div>
    </div>

    <div class="container col-10 mb-5" *ngIf="showId == true">
        <div class="card m-3 mb-5 bg-white rounded shadow-sm" style="max-width: 80rem;">
            <div class="p-2"><img class="card-img-top" src="{{post.linkimg}}" alt="Card image cap"></div>
            <div class="card-header bg-light">
                <h2 class="font-weight-bold text-dark">Post {{post.idPostagem}}</h2>
            </div>
            <div class="card-body text-info">
                <h5 class="card-title text-dark">Id Postagem: <span class="text-secondary">{{post.idPostagem}}</span>
                </h5>
                <h5 class="card-title text-dark">Título: <span class="text-secondary">{{post.titulo}}</span></h5>
                <h5 class="card-title text-dark">Texto: <span class="text-secondary">{{post.texto}}</span></h5>
                <h5 class="card-title text-dark">Link Img: <span class="text-secondary">{{post.linkimg}}</span></h5>
                <h5 class="card-title text-dark">Data de Inclusão: <span
                        class="text-secondary">{{post.dataInclusao}}</span></h5>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>